<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Black Pepper</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    
    <div class="container-fluid px-5 d-none d-lg-block" style="background-color: white">
        <div class="row gx-5 py-3 align-items-center">
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-start">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="{{url_for('index')}}" class="navbar-brand ms-lg-5">
                        <h1 class="m-0 display-5 text-primary"><span class="text-secondary">Nutrient Deficiency Detection</span><span
                                class="text-black">Black Pepper</span></h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-end">
                    <a class="btn btn-icon btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-icon btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-icon btn-square rounded-circle me-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-icon btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5" style="background-color:#2BAED8B2; color: #3487ad; z-index: 99">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="{{url_for('index')}}" class="nav-item nav-link">Home</a>
                
                <a href="{{url_for('test')}}" class="nav-item nav-link active">Identification of Deficiency</a>
                
            </div>
        </div>
    </nav>

<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 100vw;">
            <h6 class="text-uppercase" style="font-size: x-large; color: black">Select the answers for following questions</h6>
        </div>
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="form-container">
                    <form method="POST" id="questionnaireForm">
                        <div class="form-question">
                            <label class="form-label mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" for="question1">1).Is intercropping your cultivation type?</label>
                            <select class="form-select mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" id="question1">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="form-question">
                            <label class="form-label mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" for="question2">2).Do you conserve your land and soil?</label>
                            <select class="form-select mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" id="question2">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="form-question">
                            <label class="form-label mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" for="question3">3).Do you manage the recommended spacing with each plant?</label>
                            <select class="form-select mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" id="question3">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="form-question">
                            <label class="form-label mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" for="question4">4).Do you found any insects with high amount in your field?</label>
                            <select class="form-select mb-0" style="color: #000000; text-shadow: 0px 0px 4px #ffffff; font-size: medium;" id="question4">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                       
                        <div class="form-submit">
                            <div id="demo1" style="text-align: center; color: red; margin-bottom: 10px;"></div>
                            <button type = "submit" class="btn-primary" style="width: -webkit-fill-available; border-radius: 3px; border: 1px solid black; padding: 5px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-footer bg-primary text-white mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-6 col-md-12 pt-5 mb-5">
                        <h4 class="text-white mb-4">Get In Touch</h4>
                        <div class="d-flex mt-4">
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square rounded-circle" href="#"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pt-0 pt-lg-5 mb-5">
                        <h4 class="text-white mb-4">Quick Links</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="{{url_for('index')}}"><i
                                    class="bi bi-arrow-right text-white me-2"></i>Home</a>
                            
                            <a class="text-white mb-2" href="{{url_for('test')}}"><i
                                    class="bi bi-arrow-right text-white me-2"></i>Identification of Deficiency</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-n5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                    
                    <p>Join us to know the latest details about Pepper</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>

<script>
    const form = document.getElementById('questionnaireForm');
       form.addEventListener('submit', (event) => {
           event.preventDefault(); 
           const question1 = document.getElementById('question1').value;
           const question2 = document.getElementById('question2').value;
           const question3 = document.getElementById('question3').value;
           const question4 = document.getElementById('question4').value;
           const data = { question1: question1,
                          question2: question2,
                          question3: question3,
                          question4: question4
                           }; 
           
           fetch('/Solution_K', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify(data)
           })
            .then(response => response.json())
            .then(data => {
                      if (data.redirect) {
                          window.location.href = data.redirect; 
                      } else if (data.error) {
                          console.error('Error:', data.error); 
                      }
                  })
           .catch(error => {
               console.error('Error submitting form:', error);
           });
       });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/survey-jquery@1.9.88/survey.jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/survey-jquery@1.9.88/defaultV2.min.css" />
<link rel="stylesheet" href ="./index.css" />
<script src="js/main.js"></script>
</body>

</html>
